::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-fill {
  background-color: white;
  border-radius: 5px;
}

::ng-deep {
  .mat-form-field .mat-form-field-flex {
    background-color: white;
  }
}

.mat-error {
  color: white;
}
