<div
  class="flex flex-col h-full w-full items-center md:justify-center justify-start md:py-0 py-4 md:px-16 px-4 bg-gray"
>
  <div class="w-full bg-white flex flex-col justify-center items-center">
    <div class="fg-pink font-bold text-2xl mb-4">Coaliciones</div>
    <img src="../../../assets/img/logos.png" alt="" />
    <div class="fg-pink font-bold text-2xl mb-4">¿Cómo votar?</div>
    <div class="text-justify">
      <div>
        Para votar en el Sistema de Voto Electrónico por internet, deberás
        realizar los siguientes pasos:
      </div>
      <div>1. Elige el Partido, Coalición o Candidatura de tu preferencia.</div>
      <div>2. Confirma la opción elegida.</div>
      <div>3. Emite tu voto.</div>
      <div>4. Descarga tu recibo de voto</div>
      <div class="my-4">
        Podrás verificar que tu voto se encuentra almacenado en el Sistema
        utilizando el código que se encuentra en tu recibo de voto.
      </div>
      <div class="my-4">
        Recuerda que cuentas con 30 minutos de sesión, al finalizar ese tiempo
        porás iniciar sesión nuevamente en caso de ser necesario.
      </div>
      <div class="fg-pink font-bold text-center text-2xl mb-4">
        ¡Participar es tu derecho!
      </div>
    </div>
  </div>
  <div class="w-full flex justify-end mt-4">
    <button mat-raised-button color="accent">Siguiente</button>
  </div>
</div>
