<div class="flex h-screen flex-col bg-pink overflow-y-scroll">
  <app-toolbar></app-toolbar>
  <div class="h-full flex flex-col items-center p-3 bg-pink">
    <div class="font-medium text-2xl px-4 text-center mb-4">
      <span class="text-white"> Sistema de Registro para ejercer el </span>
      <span class="fg-purple">Voto Electrónico</span>
    </div>
    <!-- <div class="text-2xl text-center md:mt-3 mt-6 md:mb-1 text-white">
      Hola: Raúl Galindo Alfonsin
    </div> -->
    <!-- <div class="fg-purple text-lg font-bold mb-2" routerLink="../login">
      Cambiar de usuario
    </div> -->
    <div
      *ngIf="!displayCamara"
      class="bg-purple rounded-[50px] flex justify-center items-center md:h-500 h-350 md:w-500 w-350"
    >
      <img src="../../assets/img/25.png" class="w-1/6" alt="" />
    </div>
    <div *ngIf="displayCamara">
      <webcam
        [width]="500"
        [height]="500"
        [trigger]="invokeObservable"
        (imageCapture)="captureImg($event)"
        [videoOptions]="videoOptions"
      ></webcam>
    </div>
    <div class="text-2xl text-center fg-purple font-bold mt-8 mb-4 bg-pink">
      Reconocimiento facial
    </div>
    <div class="text-white text-lg px-4 text-justify md:mb-4 mb-0 bg-pink">
      Para iniciar el proceso de reconocimiento facial, es necesario descubrir
      tu rostro, para ello, retira lentes, cubrebocas, gorras, entre otros
      elementos que puedan intervenir en el reconocimiento.
    </div>
    <div class="w-full flex md:flex-row flex-col justify-around mt-auto bg-pink mt-4">
      <div class="w-full md:w-1/4 md:py-0 py-2">
        <button class="w-full b-purple" mat-raised-button (click)="return()" >Regresar</button>
      </div>
      <div class="w-full md:w-1/4 md:py-0 py-2">
        <button
          (click)="getActionButton()"
          class="w-full"
          mat-raised-button
          color="accent"
        >
          {{ displayCamara ? "Tomar foto" : "Iniciar" }}
        </button>
      </div>
    </div>
  </div>
</div>
