:host ::ng-deep .mat-radio-container {
  display: none;
}

.mat-radio-checked {
  background-color: #57004f !important;
  color: white;
}

::ng-deep .mat-radio-label-content {
  width: 100% !important;
}
