/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// html, body { height: 100%; }
html, body { height: 100vh; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fg-pink {
    color: #D4338C;
}

.fg-purple {
    color: #57004F;
}

.bg-pink {
    background-color: #D4338C;
}

.bg-purple {
    background-color: #57004F;
}

.b-purple {
    background-color: #57004F;
    color: white;
}

.bg-gray {
    background-color: #F0F0F0;
}

.h-500 {
    height: 500px;
}

.w-500 {
    width: 500px;
}

.h-350 {
    height: 350px;
}

.w-350 {
    width: 350px;
}

// .max-h-50 {
//     max-height: 50%;
// }
